<div class="container">
  <app-nav></app-nav>
  <!-- <div class="starter-template">
    <h1>Navigation with Weather Prediction</h1>
    <p class="lead">This app will allow you to see the weather conditions in your route</p>
  </div> -->

  <!-- the map -->
  <input type="text" name="startAddress">
  <input type="text" name="endAddress">
  <button class="btn btn-primary"> Go To Map </button>
  <div id="map" style="width: 100%; height: 400px; background: grey" >
  
  </div>
  <!-- <app-footer></app-footer> -->
</div>
<!-- <p> Here is sample map of Berlin </p> -->


