
  <div>

    <!-- the map -->

    <header>
      <div class="logo">
        <a href="#"><img src="../../assets/images/demo/SafeTRIP_logo.png" alt=""></a>

      </div>

      <nav class="nav">
          Where are you starting from?
          <input class="nav" type="text" [(ngModel)]="startAddress" name="start">
          Where do you want to go?
          <input class="nav" type="text" [(ngModel)]="endAddress" name="end">
          <button class="nav" class="btn btn-primary" (click)="navigation()"> Go To Map </button>
      </nav>
    </header>
  </div>
<!--</div>-->
