<div class="container">

  <app-nav></app-nav>
  <div class="clear">

    <div id="map" style="width: 100%; height: 500px; background: grey; margin: 5px;" >
    </div>

    <div class="bgded overlay" style="background-image:url('../assets/images/demo/backgrounds/01.png');">
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
      <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="center btmspace-50">
          <h2 class="heading">Future Enhancements</h2>
          <p>We can extend this in future to predict disasters such as lands-slides, flashfloods, and the like</p>
        </div>
        <ul class="nospace elements">
          <li class="one_third first">
            <article><a href="#"><img src="../../assets/images/demo/landslide.jpg" alt=""></a>
              <div class="txtwrap">
                <h6 class="heading">Landslide prediction</h6>
                <time datetime="2045-04-06">6<sup>th</sup> July 30</time>
                <p>Predicting where and when landslides are likely to occur in a specific region of interest using machine learning, real-time measurements of soil, rock-mass, elevation, gradients, groundwater conditions, etc.
                </p>
                <footer><a href="#">Read More &raquo;</a></footer>
              </div>
            </article>
          </li>
          <li class="one_third">
            <article><a href="#"><img src="../../assets/images/demo/Bridge.jpg" alt=""></a>
              <div class="txtwrap">
                <h6 class="heading">Predicting Infrastructure failures during disasters</h6>
                <time datetime="2045-04-05">5<sup>th</sup> April 2045</time>
                <p>Based on load bearing data, richter rating, soil and waterbed information, we can make intelligent predictions about which routes might be hazardous due to infrastructure failures such as Bridge and Tunnel collapse, Flooding of roads, etc.&hellip;</p>
                <footer><a href="#">Read More &raquo;</a></footer>
              </div>
            </article>
          </li>
          <li class="one_third">
            <article><a href="#"><img src="../../assets/images/demo/flash_flood_.jpg" alt=""></a>
              <div class="txtwrap">
                <h6 class="heading">Flash-Flood Predictions</h6>
                <time datetime="2045-04-04">4<sup>th</sup> April 2045</time>
                <p>Predicting where and when flash-floods are likely to occur. This is possible by integrating GIS data with historical weather records and applying prediction models to figure out when a flash-flood is imminent if we see similar symptoms in the current weather and GIS data.</p>
                <footer><a href="#">Read More &raquo;</a></footer>
              </div>
            </article>
          </li>
        </ul>
      </section>
    </div>
    <div class="wrapper coloured">
      <div>
        <figure id="logos">
          <!--<figcaption class="hidden"><a class="btn small" href="#">More &raquo;</a></figcaption>-->
        </figure>
      </div>
    </div>


    <footer class="footer">
      <div class="wrapper row4">
        <footer id="footer" class="hoc clear">
          <div class="one_quarter first">
            <h6 class="title">Expedation Hacks</h6>
            <ul class="nospace linklist contact">
              <li><i class="fa fa-map-marker"></i>
                <address>
                  Austin Texas
                </address>
              </li>

            </ul>
          </div>
          <div class="one_quarter">

          </div>

        </footer>
      </div>
    </footer>
  </div>
</div>
